In [23]:
from llama_hub.tools.waii import WaiiToolSpec

waii_tool = WaiiToolSpec(
    url="https://tweakit.waii.ai/api/",
    # API Key of Waii (not OpenAI API key)
    api_key="3........",
    # Which database you want to use, you need add the db connection to Waii first
    database_key="snowflake://....",
    verbose=True
)

In [17]:
from llama_index import VectorStoreIndex

# Use as Data Loader, load data to index and query it
documents = waii_tool.load_data("Get all tables with their number of columns")
index = VectorStoreIndex.from_documents(documents).as_query_engine()

index.query(
    "Which table contains most columns, tell me top 5 tables with number of columns?"
).response

.

'SELECT\n    table_schema,\n    table_name,\n    COUNT(column_name) AS number_of_columns\nFROM waii.information_schema.columns\nGROUP BY\n    table_schema,\n    table_name\nORDER BY\n    table_schema,\n    table_name\n'

..

     TABLE_SCHEMA       TABLE_NAME  NUMBER_OF_COLUMNS
0    BATTLE_DEATH           BATTLE                  6
1    BATTLE_DEATH            DEATH                  5
2    BATTLE_DEATH             SHIP                  7
3             CAR        CARS_DATA                  8
4             CAR       CAR_MAKERS                  4
..            ...              ...                ...
107         VOTER            VOTES                  5
108         WORLD             CITY                  5
109         WORLD          COUNTRY                 15
110         WORLD  COUNTRYLANGUAGE                  4
111         WORLD  SQLITE_SEQUENCE                  2

[112 rows x 3 columns]

"The table 'COLUMNS' contains the most columns. The top 5 tables with the number of columns are 'COLUMNS' with 43 columns, 'TABLES' with 25 columns, and the remaining tables have fewer than 25 columns."

In [29]:
# Use as tool, initialize it
from llama_index.agent import OpenAIAgent
from llama_index.llms import OpenAI

agent = OpenAIAgent.from_tools(
    waii_tool.to_tool_list(), llm=OpenAI(model="gpt-4-1106-preview"), verbose=True
)

In [19]:
# Ask simple questions
print(agent.chat("Give me top 3 countries with the most number of car factory"))

STARTING TURN 1
---------------

=== Calling Function ===
Calling function: get_answer with args: {"ask":"What are the top 3 countries with the highest number of car factories?"}
.

'WITH carmakerscountries AS (\n    SELECT\n        countryname,\n        COUNT(id) AS numberoffactories\n    FROM waii.car.car_makers\n    INNER JOIN waii.car.countries\n        ON country = countryid\n    GROUP BY\n        countryname\n)\n\nSELECT\n    countryname,\n    numberoffactories\nFROM carmakerscountries\nORDER BY\n    numberoffactories DESC\nLIMIT 3\n'

.

  COUNTRYNAME  NUMBEROFFACTORIES
0       japan                  5
1     germany                  4
2         usa                  4

Got output: Japan has 5 factories, Germany has 4 factories, and the USA also has 4 factories.
========================

STARTING TURN 2
---------------

The top 3 countries with the highest number of car factories are:

1. Japan with 5 factories
2. Germany with 4 factories
3. USA with 4 factories

In [20]:
print(agent.chat("What are the car factories of these countries"))

STARTING TURN 1
---------------

=== Calling Function ===
Calling function: get_answer with args: {"ask": "What are the car factories in Japan?"}
.

"SELECT DISTINCT fullname\nFROM waii.car.car_makers\nINNER JOIN waii.car.countries\n    ON country = countryid\nWHERE\n    countryname ILIKE '%japan%'\n"

.

        FULLNAME
0  Nissan Motors
1          Honda
2          Mazda
3         Subaru
4         Toyota

Got output: The result of the information from multiple sources is a list of car manufacturers. The list includes Nissan Motors, Honda, Mazda, Subaru, and Toyota.
========================

=== Calling Function ===
Calling function: get_answer with args: {"ask": "What are the car factories in Germany?"}
.

"SELECT maker\nFROM waii.car.car_makers\nINNER JOIN waii.car.countries\n    ON country = countryid\nWHERE\n    countryname ILIKE '%germany%'\n"

.

          MAKER
0    volkswagen
1           bmw
2  daimler benz
3          opel

Got output: The result of the information from multiple sources is that there are four different car makers mentioned: Volkswagen, BMW, Daimler Benz, and Opel.
========================

=== Calling Function ===
Calling function: get_answer with args: {"ask": "What are the car factories in the USA?"}
.

"SELECT DISTINCT maker\nFROM waii.car.car_makers\nINNER JOIN waii.car.countries\n    ON country = countryid\nWHERE\n    countryname ILIKE '%usa%'\n"

.

      MAKER
0       amc
1        gm
2      ford
3  chrysler

Got output: The result of the information from multiple sources is that there are four different car makers mentioned: AMC, GM, Ford, and Chrysler.
========================

STARTING TURN 2
---------------

Here are the car factories in the top 3 countries with the most factories:

**Japan:**
- Nissan Motors
- Honda
- Mazda
- Subaru
- Toyota

**Germany:**
- Volkswagen
- BMW
- Daimler Benz
- Opel

**USA:**
- AMC
- GM (General Motors)
- Ford
- Chrysler

In [27]:
# Do performance analysis
print(agent.chat("Give me top 3 longest running queries, include the complete query_id and their duration. And analyze performance of the first query"))

STARTING TURN 1
---------------

=== Calling Function ===
Calling function: get_answer with args: {"ask":"What are the top 3 longest running queries including their query_id and duration?"}
.

'SELECT\n    query_id,\n    total_elapsed_time\nFROM TABLE(INFORMATION_SCHEMA.QUERY_HISTORY(RESULT_LIMIT => 10000))\nORDER BY\n    total_elapsed_time DESC NULLS LAST\nLIMIT 3\n'

.......

                               QUERY_ID  TOTAL_ELAPSED_TIME
0  01b0c491-0001-ec2a-0022-ba8700c79812               27117
1  01b0c5df-0001-ebd9-0022-ba8700c7d18a               15903
2  01b0cb83-0001-edf6-0022-ba8700c87192               11813

Got output: The result from multiple sources shows the total elapsed time for each query. The first query, with the ID '01b0c491-0001-ec2a-0022-ba8700c79812', had a total elapsed time of 27117. The second query, with the ID '01b0c5df-0001-ebd9-0022-ba8700c7d18a', had a total elapsed time of 15903. Finally, the third query, with the ID '01b0cb83-0001-edf6-0022-ba8700c87192', had a total elapsed time of 11813.
========================

STARTING TURN 2
---------------

=== Calling Function ===
Calling function: performance_analyze with args: {"query_uuid": "01b0c491-0001-ec2a-0022-ba8700c79812"}
Got output: {
  "summary": [
    "The 'tablescan' operator on 'tweakit_playground.retail_data.store_sales' is the most time-consuming, with an overall percentage of execution time of 0.78, processing time of 0.01, and remote disk IO of 0.76. It scanned 2,731,773,952 bytes and emitted 110,005,394 output rows.",
    "The 'aggregate' operator associated with the 'GROUP BY ss_customer_sk, d_year, d_moy' clause and SUM function is the second most time-consuming, with an overall percentage of execution time of 0.08 and processing time of 0.08. It processed 110,005,394 input rows and emitted 90,106,053 output rows."
  ],
  "recommendations": [
    "Consider merging the 'monthly_spend' and 'first_last_spend' CTEs into a single CTE using conditional aggregation. This would reduce the number of table scans and group by operations, as well as the amount of data being processed in the 'aggregate' operator.",
    "Push the filter 'd_year IN (2000, 2001)' directly into the table scan of 'store_sales' to reduce the number of rows scanned and processed. This can be done by adding a WHERE clause that filters on 'd_year' in the join condition with 'date_dim'.",
    "Review the need for the self-join in the final SELECT statement. If the logic can be preserved, consider using a single pass through the data to calculate the spend increase for both years, which could eliminate the need for the self-join and reduce the complexity of the query."
  ],
  "query_text": "WITH monthly_spend AS (\n    SELECT\n        ss_customer_sk,\n        d_year,\n        d_moy,\n        SUM((\n            ss_sales_price - ss_ext_discount_amt\n        ) * ss_quantity) AS monthly_spend\n    FROM tweakit_playground.retail_data.store_sales\n    INNER JOIN tweakit_playground.retail_data.date_dim\n        ON ss_sold_date_sk = d_date_sk\n    WHERE\n        d_year IN (2000, 2001)\n    GROUP BY\n        ss_customer_sk,\n        d_year,\n        d_moy\n),\n\nfirst_last_spend AS (\n    SELECT\n        ss_customer_sk,\n        d_year,\n        MAX(CASE WHEN d_moy = 1 THEN monthly_spend ELSE 0 END) AS first_month_spend,\n        MAX(CASE WHEN d_moy = 12 THEN monthly_spend ELSE 0 END) AS last_month_spend\n    FROM monthly_spend\n    GROUP BY\n        ss_customer_sk,\n        d_year\n),\n\nspend_increase AS (\n    SELECT\n        ss_customer_sk,\n        d_year,\n        last_month_spend - first_month_spend AS spend_increase\n    FROM first_last_spend\n)\n\nSELECT a.ss_customer_sk\nFROM spend_increase AS a\nINNER JOIN spend_increase AS b\n    ON a.ss_customer_sk = b.ss_customer_sk\nWHERE\n    a.d_year = 2001 AND b.d_year = 2000 AND a.spend_increase > b.spend_increase",
  "execution_time_ms": 26799,
  "compilation_time_ms": 318
}
========================

STARTING TURN 3
---------------

The top 3 longest running queries are as follows:

1. Query ID: `01b0c491-0001-ec2a-0022-ba8700c79812` with a duration of 27,117 ms.
2. Query ID: `01b0c5df-0001-ebd9-0022-ba8700c7d18a` with a duration of 15,903 ms.
3. Query ID: `01b0cb83-0001-edf6-0022-ba8700c87192` with a duration of 11,813 ms.

The performance analysis of the first query (`01b0c491-0001-ec2a-0022-ba8700c79812`) reveals that the most time-consuming operation is a table scan on `tweakit_playground.retail_data.store_sales`, which accounts for 78% of the execution time. It scanned over 2.7 billion bytes and emitted 110 million rows. The second most time-consuming operation is an aggregate associated with a `GROUP BY` clause and `SUM` function, taking up 8% of the execution time and processing 110 million input rows.

The recommendations to improve the performance of this query include:

1. Merging the `monthly_spend` and `first_last_spend` CTEs into a single CTE using conditional aggregation to reduce the number of table scans and group by operations.
2. Pushing the filter `d_year IN (2000, 2001)` directly into the table scan of `store_sales` to reduce the number of rows scanned.
3. Reviewing the need for the self-join in the final `SELECT` statement and considering a single pass through the data to calculate the spend increase for both years, which could eliminate the need for the self-join.

The query text is as follows:

```sql
WITH monthly_spend AS (
    SELECT
        ss_customer_sk,
        d_year,
        d_moy,
        SUM((
            ss_sales_price - ss_ext_discount_amt
        ) * ss_quantity) AS monthly_spend
    FROM tweakit_playground.retail_data.store_sales
    INNER JOIN tweakit_playground.retail_data.date_dim
        ON ss_sold_date_sk = d_date_sk
    WHERE
        d_year IN (2000, 2001)
    GROUP BY
        ss_customer_sk,
        d_year,
        d_moy
),

first_last_spend AS (
    SELECT
        ss_customer_sk,
        d_year,
        MAX(CASE WHEN d_moy = 1 THEN monthly_spend ELSE 0 END) AS first_month_spend,
        MAX(CASE WHEN d_moy = 12 THEN monthly_spend ELSE 0 END) AS last_month_spend
    FROM monthly_spend
    GROUP BY
        ss_customer_sk,
        d_year
),

spend_increase AS (
    SELECT
        ss_customer_sk,
        d_year,
        last_month_spend - first_month_spend AS spend_increase
    FROM first_last_spend
)

SELECT a.ss_customer_sk
FROM spend_increase AS a
INNER JOIN spend_increase AS b
    ON a.ss_customer_sk = b.ss_customer_sk
WHERE
    a.d_year = 2001 AND b.d_year = 2000 AND a.spend_increase > b.spend_increase
```

The execution time of this query was 26,799 ms, and the compilation time was 318 ms.

In [30]:
# Diff two queries
previous_query = """
SELECT
    employee_id,
    department,
    salary,
    AVG(salary) OVER (PARTITION BY department) AS department_avg_salary,
    salary - AVG(salary) OVER (PARTITION BY department) AS diff_from_avg
FROM
    employees;
"""
current_query = """
SELECT
    employee_id,
    department,
    salary,
    MAX(salary) OVER (PARTITION BY department) AS department_max_salary,
    salary - AVG(salary) OVER (PARTITION BY department) AS diff_from_avg
FROM
    employees;
LIMIT 100;
"""
print(agent.chat(f"tell me difference between {previous_query} and {current_query}"))

STARTING TURN 1
---------------

=== Calling Function ===
Calling function: diff_query with args: {
  "previous_query": "SELECT\n    employee_id,\n    department,\n    salary,\n    AVG(salary) OVER (PARTITION BY department) AS department_avg_salary,\n    salary - AVG(salary) OVER (PARTITION BY department) AS diff_from_avg\nFROM\n    employees;",
  "current_query": "SELECT\n    employee_id,\n    department,\n    salary,\n    MAX(salary) OVER (PARTITION BY department) AS department_max_salary,\n    salary - AVG(salary) OVER (PARTITION BY department) AS diff_from_avg\nFROM\n    employees;\nLIMIT 100;"
}
Got output: The query retrieves the maximum salary and the difference from the average salary for each employee's department. It does this by retrieving the employee ID, department, and salary from the employees table. Then, it calculates the maximum salary for each department using the MAX() function and the PARTITION BY clause. Next, it calculates the difference between each employee's salary and the average salary for their department using the AVG() function and the PARTITION BY clause. The results from these steps are combined into a single result set. Finally, the result set is limited to the first 100 rows.
========================

STARTING TURN 2
---------------

The difference between the two queries is in the calculation of the departmental salary metric:

1. The first query calculates the average salary for each department (`department_avg_salary`) and the difference between each employee's salary and the department's average salary (`diff_from_avg`).

2. The second query calculates the maximum salary for each department (`department_max_salary`) instead of the average. However, it still calculates the difference between each employee's salary and the department's average salary (`diff_from_avg`), just like the first query.

Additionally, the second query has a `LIMIT 100` clause, which restricts the result set to the first 100 rows. The first query does not have this limit and would return all rows from the `employees` table.

In [31]:
# Describe dataset
print(agent.chat("Summarize the dataset"))

STARTING TURN 1
---------------

=== Calling Function ===
Calling function: describe_dataset with args: {"ask":"Summarize the dataset"}
Got output: The dataset consists of multiple schemas, each containing tables related to different domains. The "FLIGHT" schema contains tables related to airlines, airports, and flights. It provides information about different airlines, airports, and flight details. The "STUDENT_TRANSCRIPTS_TRACKING" schema contains tables related to student information, courses, degree programs, departments, semesters, and transcripts. It provides a comprehensive database for tracking and managing student records, enrollment, and academic information. The "WORLD" schema contains tables related to cities, countries, and languages. It provides information about cities, countries, their populations, languages spoken, and various other attributes. The "INFORMATION_SCHEMA" schema provides information about the database objects and metadata in the WAII database. It includes tables such as APPLICABLE_ROLES, CLASSES, COLUMNS, DATABASES, FUNCTIONS, LOAD_HISTORY, OBJECT_PRIVILEGES, PROCEDURES, REFERENTIAL_CONSTRAINTS, SCHEMATA, SEQUENCES, and more. The "EMPLOYEE_HIRE_EVALUATION" schema contains tables related to employee information, evaluations, hiring evaluations, and shop details. It provides a comprehensive view of employee data, bonus awards, hiring evaluations, and shop performance. The "PETS" schema contains tables related to pet ownership and student information. It includes tables for tracking the relationship between students and their pets, storing pet data, and managing student records. Overall, the dataset covers a wide range of domains including airlines, airports, flights, student records, courses, degrees, cities, countries, languages, employee information, evaluations, hiring evaluations, shops, pet ownership, and student information. It provides a comprehensive database for analyzing and generating reports on various aspects of these domains.
========================

STARTING TURN 2
---------------

The dataset is a comprehensive collection of information spanning multiple domains:

- **FLIGHT Schema**: Contains details about airlines, airports, and flights, including flight schedules, aircraft, and airline operations.

- **STUDENT_TRANSCRIPTS_TRACKING Schema**: Manages student records, courses, degree programs, departments, semesters, and transcripts, serving as a database for educational institutions.

- **WORLD Schema**: Offers data on cities, countries, and languages, including demographic and geographic information.

- **INFORMATION_SCHEMA**: Holds metadata about the database itself, such as details about tables, columns, roles, and privileges.

- **EMPLOYEE_HIRE_EVALUATION Schema**: Stores data on employee evaluations, hiring processes, and shop performance, useful for human resources and business analysis.

- **PETS Schema**: Relates to pet ownership and student information, tracking the relationship between students and their pets.

Overall, the dataset provides a rich source of data for analysis and reporting across various sectors, including aviation, education, geography, human resources, and pet ownership.

In [32]:
q = """
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, lag, lead, round
from pyspark.sql.window import Window

spark = SparkSession.builder.appName("yearly_car_analysis").getOrCreate()

yearly_avg_hp = cars_data.groupBy("year").agg(avg("horsepower").alias("avg_horsepower"))

windowSpec = Window.orderBy("year")

yearly_comparisons = yearly_avg_hp.select(
    "year",
    "avg_horsepower",
    lag("avg_horsepower").over(windowSpec).alias("prev_year_hp"),
    lead("avg_horsepower").over(windowSpec).alias("next_year_hp")
)

final_result = yearly_comparisons.select(
    "year",
    "avg_horsepower",
    round(
        (yearly_comparisons.avg_horsepower - yearly_comparisons.prev_year_hp) / 
        yearly_comparisons.prev_year_hp * 100, 2
    ).alias("percentage_diff_prev_year"),
    round(
        (yearly_comparisons.next_year_hp - yearly_comparisons.avg_horsepower) / 
        yearly_comparisons.avg_horsepower * 100, 2
    ).alias("percentage_diff_next_year")
).orderBy("year")

final_result.show()
"""
print(agent.chat(f"translate this pyspark query {q}, to Snowflake"))

STARTING TURN 1
---------------

=== Calling Function ===
Calling function: transcode with args: {"instruction":"Translate this PySpark query to Snowflake SQL.","source_dialect":"spark","source_query":"from pyspark.sql import SparkSession\nfrom pyspark.sql.functions import avg, lag, lead, round\nfrom pyspark.sql.window import Window\n\nspark = SparkSession.builder.appName(\"yearly_car_analysis\").getOrCreate()\n\nyearly_avg_hp = cars_data.groupBy(\"year\").agg(avg(\"horsepower\").alias(\"avg_horsepower\"))\n\nwindowSpec = Window.orderBy(\"year\")\n\nyearly_comparisons = yearly_avg_hp.select(\n    \"year\",\n    \"avg_horsepower\",\n    lag(\"avg_horsepower\").over(windowSpec).alias(\"prev_year_hp\"),\n    lead(\"avg_horsepower\").over(windowSpec).alias(\"next_year_hp\")\n)\n\nfinal_result = yearly_comparisons.select(\n    \"year\",\n    \"avg_horsepower\",\n    round(\n        (yearly_comparisons.avg_horsepower - yearly_comparisons.prev_year_hp) / \n        yearly_comparisons.prev_year_hp * 100, 2\n    ).alias(\"percentage_diff_prev_year\"),\n    round(\n        (yearly_comparisons.next_year_hp - yearly_comparisons.avg_horsepower) / \n        yearly_comparisons.avg_horsepower * 100, 2\n    ).alias(\"percentage_diff_next_year\")\n).orderBy(\"year\")\n\nfinal_result.show()","target_dialect":"snowflake"}
Got output: WITH yearly_avg_hp AS (
    SELECT
        year,
        AVG(horsepower) AS avg_horsepower
    FROM waii.car.cars_data
    GROUP BY
        year
),

yearly_comparisons AS (
    SELECT
        year,
        avg_horsepower,
        LAG(avg_horsepower) OVER (ORDER BY year) AS prev_year_hp,
        LEAD(avg_horsepower) OVER (ORDER BY year) AS next_year_hp
    FROM yearly_avg_hp
)

SELECT
    year,
    avg_horsepower,
    ROUND((
        (
            avg_horsepower - prev_year_hp
        ) / NULLIF(prev_year_hp, 0) * 100
    ), 2) AS percentage_diff_prev_year,
    ROUND((
        (
            next_year_hp - avg_horsepower
        ) / NULLIF(avg_horsepower, 0) * 100
    ), 2) AS percentage_diff_next_year
FROM yearly_comparisons
ORDER BY
    year

========================

STARTING TURN 2
---------------

The translated Snowflake SQL query from the provided PySpark code is as follows:

```sql
WITH yearly_avg_hp AS (
    SELECT
        year,
        AVG(horsepower) AS avg_horsepower
    FROM waii.car.cars_data
    GROUP BY
        year
),

yearly_comparisons AS (
    SELECT
        year,
        avg_horsepower,
        LAG(avg_horsepower) OVER (ORDER BY year) AS prev_year_hp,
        LEAD(avg_horsepower) OVER (ORDER BY year) AS next_year_hp
    FROM yearly_avg_hp
)

SELECT
    year,
    avg_horsepower,
    ROUND((
        (
            avg_horsepower - prev_year_hp
        ) / NULLIF(prev_year_hp, 0) * 100
    ), 2) AS percentage_diff_prev_year,
    ROUND((
        (
            next_year_hp - avg_horsepower
        ) / NULLIF(avg_horsepower, 0) * 100
    ), 2) AS percentage_diff_next_year
FROM yearly_comparisons
ORDER BY
    year
```

This query calculates the average horsepower (`avg_horsepower`) for each year from the `cars_data` table, and then computes the percentage difference in average horsepower compared to the previous and next years. The `NULLIF` function is used to avoid division by zero. The results are ordered by year.

In [33]:
print(agent.chat("Run it"))

STARTING TURN 1
---------------

=== Calling Function ===
Calling function: run_query with args: {"sql":"WITH yearly_avg_hp AS (\n    SELECT\n        year,\n        AVG(horsepower) AS avg_horsepower\n    FROM waii.car.cars_data\n    GROUP BY\n        year\n),\n\nyearly_comparisons AS (\n    SELECT\n        year,\n        avg_horsepower,\n        LAG(avg_horsepower) OVER (ORDER BY year) AS prev_year_hp,\n        LEAD(avg_horsepower) OVER (ORDER BY year) AS next_year_hp\n    FROM yearly_avg_hp\n)\n\nSELECT\n    year,\n    avg_horsepower,\n    ROUND((\n        (\n            avg_horsepower - prev_year_hp\n        ) / NULLIF(prev_year_hp, 0) * 100\n    ), 2) AS percentage_diff_prev_year,\n    ROUND((\n        (\n            next_year_hp - avg_horsepower\n        ) / NULLIF(avg_horsepower, 0) * 100\n    ), 2) AS percentage_diff_next_year\nFROM yearly_comparisons\nORDER BY\n    year"}
..

    YEAR  AVG_HORSEPOWER  PERCENTAGE_DIFF_PREV_YEAR  PERCENTAGE_DIFF_NEXT_YEAR
0   1970      148.857143                        NaN                     -29.51
1   1971      104.928571                     -29.51                      14.53
2   1972      120.178571                      14.53                       8.57
3   1973      130.475000                       8.57                     -27.78
4   1974       94.230769                     -27.78                       7.25
5   1975      101.066667                       7.25                       0.05
6   1976      101.117647                       0.05                       3.91
7   1977      105.071429                       3.91                      -5.12
8   1978       99.694444                      -5.12                       1.52
9   1979      101.206897                       1.52                     -23.44
10  1980       77.481481                     -23.44                       5.88
11  1981       82.034483                       5.88                      -0.69
12  1982       81.466667                      -0.69                        NaN

Got output: [Document(id_='2a53eaf3-ffa3-4ce0-9d7d-60575ae77f63', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, hash='721222e7ca4249d174a35e130eb622c0c9a7b46211a27f7998008ee9aeff31a6', text="{'YEAR': 1970, 'AVG_HORSEPOWER': 148.857143, 'PERCENTAGE_DIFF_PREV_YEAR': None, 'PERCENTAGE_DIFF_NEXT_YEAR': -29.51}", start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'), Document(id_='750de6d2-6872-4d48-bbce-65c6ae020c14', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, hash='f8035cca9f3954c9b453303c9677871c23741ecff32d5070f30e579fa8d38e10', text="{'YEAR': 1971, 'AVG_HORSEPOWER': 104.928571, 'PERCENTAGE_DIFF_PREV_YEAR': -29.51, 'PERCENTAGE_DIFF_NEXT_YEAR': 14.53}", start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'), Document(id_='271cb85e-fbaf-4e79-87b2-01203c3ae78d', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, hash='b50d15eaa536ff504088f9469773ad8f4796a04ee0f7682b20047768031369e4', text="{'YEAR': 1972, 'AVG_HORSEPOWER': 120.178571, 'PERCENTAGE_DIFF_PREV_YEAR': 14.53, 'PERCENTAGE_DIFF_NEXT_YEAR': 8.57}", start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'), Document(id_='b9307acb-96ec-465f-8acd-79a62b83a50e', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, hash='6a2badb344e6028a7e5423b242d87225f1dc7b789e40740612d0706db9a94cbf', text="{'YEAR': 1973, 'AVG_HORSEPOWER': 130.475, 'PERCENTAGE_DIFF_PREV_YEAR': 8.57, 'PERCENTAGE_DIFF_NEXT_YEAR': -27.78}", start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'), Document(id_='b573917c-7d05-47c3-bac7-5d0465d819c6', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, hash='91c410d7850e434fc2279b12d9d5db7d39f8ed1f10bb5824b53ecc6b6a4f203e', text="{'YEAR': 1974, 'AVG_HORSEPOWER': 94.230769, 'PERCENTAGE_DIFF_PREV_YEAR': -27.78, 'PERCENTAGE_DIFF_NEXT_YEAR': 7.25}", start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'), Document(id_='ef3afbd8-4169-4194-a526-c38fc965e87c', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, hash='65db95a2beb9a1a769dd3b42b8a52a75c8e901bc3f10bd3525f97300f3154d29', text="{'YEAR': 1975, 'AVG_HORSEPOWER': 101.066667, 'PERCENTAGE_DIFF_PREV_YEAR': 7.25, 'PERCENTAGE_DIFF_NEXT_YEAR': 0.05}", start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'), Document(id_='31f3f03c-4a8a-42e7-9514-8f552bb00838', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, hash='e85f69f2bcd31b6a9f6c0c14d8393c500ac3d0cc790fd16a920da5b881646e7f', text="{'YEAR': 1976, 'AVG_HORSEPOWER': 101.117647, 'PERCENTAGE_DIFF_PREV_YEAR': 0.05, 'PERCENTAGE_DIFF_NEXT_YEAR': 3.91}", start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'), Document(id_='b0cd75b7-2ce9-4a32-92b2-09322da5194b', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, hash='2a30268f65fa21e25875b9e1b1998375287cccce38b2628110c5924dd674156e', text="{'YEAR': 1977, 'AVG_HORSEPOWER': 105.071429, 'PERCENTAGE_DIFF_PREV_YEAR': 3.91, 'PERCENTAGE_DIFF_NEXT_YEAR': -5.12}", start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'), Document(id_='14c84aff-21a4-4abb-ba98-ad1643eb45bf', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, hash='a6f93a216fdb4afd7a3c2215f1838eb551e331079ae604429f8dee8848f318ca', text="{'YEAR': 1978, 'AVG_HORSEPOWER': 99.694444, 'PERCENTAGE_DIFF_PREV_YEAR': -5.12, 'PERCENTAGE_DIFF_NEXT_YEAR': 1.52}", start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'), Document(id_='11b59de3-1d01-4020-9cb6-48ecf1278ab7', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, hash='c0b41a6866f0d5e14b81c67a5fb772ba6877643079f43d631734ce7b971bf6bf', text="{'YEAR': 1979, 'AVG_HORSEPOWER': 101.206897, 'PERCENTAGE_DIFF_PREV_YEAR': 1.52, 'PERCENTAGE_DIFF_NEXT_YEAR': -23.44}", start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'), Document(id_='6c652dfe-2e12-432f-9dce-a3f3c098ea6e', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, hash='7ff1cd7f6b343f65dc19194f125374edd874ebab6bbe0eb813ddd85b4cb8499a', text="{'YEAR': 1980, 'AVG_HORSEPOWER': 77.481481, 'PERCENTAGE_DIFF_PREV_YEAR': -23.44, 'PERCENTAGE_DIFF_NEXT_YEAR': 5.88}", start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'), Document(id_='ddb554f2-e704-45d6-9864-80d3d7f1a319', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, hash='d3977f6455afd966740cde1dc065ea132387ad3ce761b1b52dcddc881dc0f105', text="{'YEAR': 1981, 'AVG_HORSEPOWER': 82.034483, 'PERCENTAGE_DIFF_PREV_YEAR': 5.88, 'PERCENTAGE_DIFF_NEXT_YEAR': -0.69}", start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'), Document(id_='298a6b49-ce19-463b-ab18-6d591d2aaca8', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, hash='e0f5a233bdf0e2b4102d7aa1bcb25856eb32777c9b7ab5b9645e8b205972f545', text="{'YEAR': 1982, 'AVG_HORSEPOWER': 81.466667, 'PERCENTAGE_DIFF_PREV_YEAR': -0.69, 'PERCENTAGE_DIFF_NEXT_YEAR': None}", start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n')]
========================

STARTING TURN 2
---------------

The query has been executed, and here are the results for the average horsepower (`avg_horsepower`) by year, along with the percentage difference from the previous year (`percentage_diff_prev_year`) and the next year (`percentage_diff_next_year`):

- **1970**: avg_horsepower: 148.86, percentage_diff_prev_year: None, percentage_diff_next_year: -29.51%
- **1971**: avg_horsepower: 104.93, percentage_diff_prev_year: -29.51%, percentage_diff_next_year: 14.53%
- **1972**: avg_horsepower: 120.18, percentage_diff_prev_year: 14.53%, percentage_diff_next_year: 8.57%
- **1973**: avg_horsepower: 130.48, percentage_diff_prev_year: 8.57%, percentage_diff_next_year: -27.78%
- **1974**: avg_horsepower: 94.23, percentage_diff_prev_year: -27.78%, percentage_diff_next_year: 7.25%
- **1975**: avg_horsepower: 101.07, percentage_diff_prev_year: 7.25%, percentage_diff_next_year: 0.05%
- **1976**: avg_horsepower: 101.12, percentage_diff_prev_year: 0.05%, percentage_diff_next_year: 3.91%
- **1977**: avg_horsepower: 105.07, percentage_diff_prev_year: 3.91%, percentage_diff_next_year: -5.12%
- **1978**: avg_horsepower: 99.69, percentage_diff_prev_year: -5.12%, percentage_diff_next_year: 1.52%
- **1979**: avg_horsepower: 101.21, percentage_diff_prev_year: 1.52%, percentage_diff_next_year: -23.44%
- **1980**: avg_horsepower: 77.48, percentage_diff_prev_year: -23.44%, percentage_diff_next_year: 5.88%
- **1981**: avg_horsepower: 82.03, percentage_diff_prev_year: 5.88%, percentage_diff_next_year: -0.69%
- **1982**: avg_horsepower: 81.47, percentage_diff_prev_year: -0.69%, percentage_diff_next_year: None

Please note that the percentage differences for the first and last years are not available because there is no previous year data for 1970 and no next year data for 1982.